body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    flex-direction: column;
}

.player {
    text-align: center;
    background: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
    width: 300px;
}

.cover {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

audio {
    width: 100%;
}

.progress-container {
    width: 100%;
    height: 5px;
    background: #444;
    border-radius: 5px;
    position: relative;
    margin-top: 10px;
}

.progress-bar {
    height: 100%;
    width: 0%;
    background: #1db954;
    border-radius: 5px;
}

.time {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 5px;
}

.controls {
    margin-top: 15px;
}

.controls button {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border: none;
    background: #1db954;
    color: white;
    border-radius: 5px;
}

.controls button:hover {
    background: #17a748;
}
.btn {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border: none;
    background: #1db954;
    color: white;
    border-radius: 5px;
}